@model IEnumerable<MapApp.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
                Roles
            </th>
		</tr>
    </thead>
    <tbody>
    <form asp-controller="Admin" asp-action="Users" method="get">
        <tr>
            <td>
                <input type="text" name="id">
            </td>
            <td>
                <input type="text" name="user">
            </td>
            <td />

            <td />

        </tr>
        <input class="btn btn-primary" type="submit" value="Filter" />
    </form>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>

                @{
                    int index = 0;
                    foreach (var v in item.Roles)
                    {
                        if (index++ > 0)
                        {
                            @Html.Raw(" | ")
                            ;
                        }
                        @Html.Raw(ViewBag.RolesList[v.RoleId].Name)
                    }
                }
            </td>

            <td>
                <a class="btn btn-primary" asp-action="ManageUserRoles" asp-route-id="@item.Id">Manage Roles</a> |
                <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
