@model MapApp.Models.LocationModels.Location

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<style>
    .dl-horizontal dt { text-align: left; }
</style>
<div class="row">
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal col-lg-4 pull-left">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd id="Latitude">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd id="Longitude">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            Weather
        </dt>
        <dd id="weather">
            <div class="loader"></div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @{
                var totalMessage = "";
                if (Model.Image != null) { totalMessage += "data:image;base64, " + System.Convert.ToBase64String(Model.Image); }
                else { totalMessage += "/images/null_image.png"; };
            }
            <img src="@totalMessage" width="100" height="100" />
        </dd>
    </dl>
    <div class="col-lg-8 pull-right" id="map"></div>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>

<br />
<h4>Comments</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Rating
            </th>
            <th>
                Header
            </th>
            <th>
                Content
            </th>
            <th>
                Create Time
            </th>
            <th>
                Edit Time
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Comments)
        {
            <tr>
                <td>
                    @item.Rating
                </td>
                <td>
                    @item.Header
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.CreateTime
                </td>
                <td>
                    @item.EditTime
                </td>
                <td>
                    @item.User
                </td>
                <td>
                    @if (item.User == ViewBag.User || ViewBag.Admin) {<a asp-action="../Comments/Edit" asp-route-id="@item.ID">Edit</a> @Html.Raw(" | ")  }
                    <a asp-action="../Comments/Details" asp-route-id="@item.ID">Details</a>
                    @if (item.User == ViewBag.User || ViewBag.Admin) {@Html.Raw(" | ")<a asp-action="../Comments/Delete" asp-route-id="@item.ID">Delete</a>  }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @if (ViewBag.Doubled){ <span data-toggle="tooltip" title="You are allowed only one comment per lacation" style="color:gray">New comment</span> }
    else{ <a asp-action="../Comments/Create" asp-route-loc_id="@Model.ID">New comment</a> }
</p>




@section Scripts {
	<script src="~/js/map.js"></script>
	<script src="~/js/weather.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3iZKrhlbxVPKs2DgI4ADKcGKkEVXxtGw&callback=initMap">
	</script>

	<script src="~/js/location_details.js"></script>
}

